// Import Vuetify styling
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css'
@require '~vuetify/src/stylus/app.styl'

.ses-logo-push {
  max-width: 200px;
  margin:0 auto 0;
  padding: 20px 0 0 0;
}

.ses-logo a img {
    padding: 8px 0px 0px 0;
}
